version: '2'

services:
    mailcatcher:
        container_name: mailcatcher
        image: schickling/mailcatcher
        ports:
            - "1081:1080"
            - "1026:1025"
    mysql:
        container_name: mysql
        image: mariadb:10
        environment:
            - MYSQL_ROOT_PASSWORD=root
            - MYSQL_USER=mysql_user
            - MYSQL_PASSWORD=password
            - MYSQL_DATABASE=mysql_db
        ports:
            - "3307:3306"
    web:
        container_name: web
        build: docker/.
        ports:
            - "8080:80"
        volumes:
            - .:/var/www/html
            - $SSH_AUTH_SOCK:/ssh-agent # Forward local machine SSH key to docker
        environment:
            SSH_AUTH_SOCK: /ssh-agent
